# 파이썬 문법의 기초 - 자료형

## 문자열(String)

문자, 단어 등으로 구성된 문자들의 집합

### 문자열 생성 방법

- 큰따옴표(")
- 작은따옴표(')
- 큰따옴표 3개(""")
- 작은따옴표 3개(''')

In [1]:
example_string = "Hello, World"
example_string

'Hello, World'

In [2]:
example_string = 'Hello, World'
example_string

'Hello, World'

In [3]:
example_string = """Hello, World"""
example_string

'Hello, World'

In [4]:
example_string = '''Hello, World'''
example_string

'Hello, World'

### 문자열에 작은따옴표나 큰따옴표 포함

- 작은따옴표(')를 큰따옴표(")로 둘러싸기
- 큰따옴표(")를 작은따옴표(')로 둘러싸기
- 역슬래시(\) 사용하기

In [5]:
example_string = "Python's favorite food"
example_string

"Python's favorite food"

In [6]:
example_string = '"Python is easy" he says.'
example_string

'"Python is easy" he says.'

In [7]:
example_string = 'Python\'s favorite food'
example_string

"Python's favorite food"

In [8]:
example_string = "\"Python is easy\" he says."
example_string

'"Python is easy" he says.'

### 여러 줄인 문자열을 변수에 대입

- 이스케이프 코드 `\n` 삽입
- 작은따옴표 3개(''')
- 큰따옴표 3개(""")

In [9]:
example_string = 'Hello!!\nNice to meet you!'
example_string

'Hello!!\nNice to meet you!'

In [10]:
example_string = '''
Hello!
Nice to meet you!
'''
example_string

'\nHello!\nNice to meet you!\n'

In [11]:
example_string = """
Hello!
Nice to meet you!
"""
example_string

'\nHello!\nNice to meet you!\n'

### 문자열 연산

- 문자열 덧셈
- 문자열 곱셈
- 문자열 길이

In [12]:
example_string1 = "Python"
example_string2 = "is easy!"

In [13]:
example_string1 + example_string2 # 덧셈

'Pythonis easy!'

In [14]:
example_string1 * 3 # 곱셈

'PythonPythonPython'

In [15]:
len(example_string1) # 길이

6

### 인덱싱(Indexing)

string[번호]

> 인덱스는 0부터 시작

문자열 안의 특정 값을 뽑아냄

마이너스(-)인 경우 뒤부터 셈

In [16]:
example_string[0] # 가장 첫 문자

'\n'

In [17]:
example_string[-1] # 가장 마지막 문자

'\n'

### 슬라이싱(Slicing)

string[시작 번호: 끝 번호]

시작 번호부터 끝 번호 직전 까지의 문자를 뽑아냄

In [18]:
example_string[:3] # 처음부터 3번째(인덱스 2까지) 문자

'\nHe'

In [19]:
example_string[2:] # 세번째(0부터 시작이라)부터 끝까지 문자

'ello!\nNice to meet you!\n'

### 문자열 포매팅(Formatting)

문자열 안에 특정 값을 삽입하는 방법

#### 숫자

문자열 포맷 코드 `%d`

In [20]:
'I eat %d apples.' % 3

'I eat 3 apples.'

In [21]:
example_apple_num = 3
'I eat %d apples.' % example_apple_num

'I eat 3 apples.'

#### 문자열

문자열 포맷 코드 `%s`

In [22]:
example_days = 5
"I eat %s apples." % example_days

'I eat 5 apples.'

#### 2개 이상의 값

In [23]:
"I ate %d apples so I was sick for %s days." % (example_apple_num, example_days)

'I ate 3 apples so I was sick for 5 days.'

### 포맷 코드 + 숫자


#### 정렬과 공백

`%s`를 숫자와 함께 사용ㅇ하면, 공백과 정렬 표현 가능

In [24]:
"%10s" % "Hi" # Hi가 오른쪽 정렬됨
# 전체 길이 10 중 공백이 앞에 8개, 문자가 뒤에 2개

'        Hi'

In [25]:
"%-10sjerry!" % "Hi" # Hi가 왼쪽 정렬됨
# 길이 10 중 문자가 앞에 2개, 뒤에 공백이 8개 + jerry

'Hi        jerry!'

#### 소수점 표현

`%d`를 숫자와 함께 사용하면, 소수점 뒤에 나올 숫자의 개수 조절 및 정렬 가능

In [26]:
"%0.4f" % 1.234567 # 소수점 4자리까지

'1.2346'

### format 함수 사용

#### 숫자 바로 대입

In [27]:
"I eat {0} apples.".format(3)

'I eat 3 apples.'

#### 숫자 값을 가진 변수 대입

In [28]:
"I eat {0} apples.".format(example_apple_num)

'I eat 3 apples.'

#### 문자열 바로 대입

In [29]:
"I eat {0} apples.".format("five")

'I eat five apples.'

#### 2개 이상의 값 넣기

In [30]:
"I ate {0} apples so I was sick for {1} days.".format(example_apple_num, example_days)

'I ate 3 apples so I was sick for 5 days.'

#### 이름으로 넣기

In [31]:
"I ate {number} apples so I was sick for {day} days.".format(number=10, day=5)

'I ate 10 apples so I was sick for 5 days.'

#### 인덱스와 이름 혼용

In [32]:
"I date {0} apples so I was sick for {day} days.".format(10, day=5)

'I date 10 apples so I was sick for 5 days.'

#### 정렬

In [33]:
"{0:<10}".format("Hi") # 왼쪽 정렬

'Hi        '

In [34]:
"{0:>10}".format("Hi") # 오른쪽 정렬

'        Hi'

In [35]:
"{0:^10}".format("Hi") # 가운데 정렬

'    Hi    '