# 파이썬 문법의 기초 - 자료형_1

**문자열과 리스트에 대한 기본 내용**

## 문자열(String)

문자, 단어 등으로 구성된 문자들의 집합

### 문자열 생성 방법

- 큰따옴표(")
- 작은따옴표(')
- 큰따옴표 3개(""")
- 작은따옴표 3개(''')

In [1]:
example_string = "Hello, World"
example_string

'Hello, World'

In [2]:
example_string = 'Hello, World'
example_string

'Hello, World'

In [3]:
example_string = """Hello, World"""
example_string

'Hello, World'

In [4]:
example_string = '''Hello, World'''
example_string

'Hello, World'

### 문자열에 작은따옴표나 큰따옴표 포함

- 작은따옴표(')를 큰따옴표(")로 둘러싸기
- 큰따옴표(")를 작은따옴표(')로 둘러싸기
- 역슬래시(\) 사용하기

In [5]:
example_string = "Python's favorite food"
example_string

"Python's favorite food"

In [6]:
example_string = '"Python is easy" he says.'
example_string

'"Python is easy" he says.'

In [7]:
example_string = 'Python\'s favorite food'
example_string

"Python's favorite food"

In [8]:
example_string = "\"Python is easy\" he says."
example_string

'"Python is easy" he says.'

### 여러 줄인 문자열을 변수에 대입

- 이스케이프 코드 `\n` 삽입
- 작은따옴표 3개(''')
- 큰따옴표 3개(""")

In [9]:
example_string = 'Hello!!\nNice to meet you!'
example_string

'Hello!!\nNice to meet you!'

In [10]:
example_string = '''
Hello!
Nice to meet you!
'''
example_string

'\nHello!\nNice to meet you!\n'

In [11]:
example_string = """
Hello!
Nice to meet you!
"""
example_string

'\nHello!\nNice to meet you!\n'

### 문자열 연산

- 문자열 덧셈
- 문자열 곱셈
- 문자열 길이

In [12]:
example_string1 = "Python"
example_string2 = "is easy!"

In [13]:
example_string1 + example_string2 # 덧셈

'Pythonis easy!'

In [14]:
example_string1 * 3 # 곱셈

'PythonPythonPython'

In [15]:
len(example_string1) # 길이

6

### 인덱싱(Indexing)

string[번호]

> 인덱스는 0부터 시작

문자열 안의 특정 값을 뽑아냄

마이너스(-)인 경우 뒤부터 셈

In [16]:
example_string = "Hi Python, I'm Jerry."

In [17]:
example_string[0] # 가장 첫 문자

'H'

In [18]:
example_string[-1] # 가장 마지막 문자

'.'

### 슬라이싱(Slicing)

string[시작 번호: 끝 번호]

시작 번호부터 끝 번호 직전 까지의 문자를 뽑아냄

In [19]:
example_string[:3] # 처음부터 3번째(인덱스 2까지) 문자

'Hi '

In [20]:
example_string[2:] # 세번째(0부터 시작이라)부터 끝까지 문자

" Python, I'm Jerry."

### 문자열 포매팅(Formatting)

문자열 안에 특정 값을 삽입하는 방법

#### 숫자

문자열 포맷 코드 `%d`

In [21]:
'I eat %d apples.' % 3

'I eat 3 apples.'

In [22]:
example_apple_num = 3
'I eat %d apples.' % example_apple_num

'I eat 3 apples.'

#### 문자열

문자열 포맷 코드 `%s`

In [23]:
example_days = 5
"I eat %s apples." % example_days

'I eat 5 apples.'

#### 2개 이상의 값

In [24]:
"I ate %d apples so I was sick for %s days." % (example_apple_num, example_days)

'I ate 3 apples so I was sick for 5 days.'

### 포맷 코드 + 숫자


#### 정렬과 공백

`%s`를 숫자와 함께 사용ㅇ하면, 공백과 정렬 표현 가능

In [25]:
"%10s" % "Hi" # Hi가 오른쪽 정렬됨
# 전체 길이 10 중 공백이 앞에 8개, 문자가 뒤에 2개

'        Hi'

In [26]:
"%-10sjerry!" % "Hi" # Hi가 왼쪽 정렬됨
# 길이 10 중 문자가 앞에 2개, 뒤에 공백이 8개 + jerry

'Hi        jerry!'

#### 소수점 표현

`%d`를 숫자와 함께 사용하면, 소수점 뒤에 나올 숫자의 개수 조절 및 정렬 가능

In [27]:
"%0.4f" % 1.234567 # 소수점 4자리까지

'1.2346'

### format 함수 사용

#### 숫자 바로 대입

In [28]:
"I eat {0} apples.".format(3)

'I eat 3 apples.'

#### 숫자 값을 가진 변수 대입

In [29]:
"I eat {0} apples.".format(example_apple_num)

'I eat 3 apples.'

#### 문자열 바로 대입

In [30]:
"I eat {0} apples.".format("five")

'I eat five apples.'

#### 2개 이상의 값 넣기

In [31]:
"I ate {0} apples so I was sick for {1} days.".format(example_apple_num, example_days)

'I ate 3 apples so I was sick for 5 days.'

#### 이름으로 넣기

In [32]:
"I ate {number} apples so I was sick for {day} days.".format(number=10, day=5)

'I ate 10 apples so I was sick for 5 days.'

#### 인덱스와 이름 혼용

In [33]:
"I date {0} apples so I was sick for {day} days.".format(10, day=5)

'I date 10 apples so I was sick for 5 days.'

#### 정렬

In [34]:
"{0:<10}".format("Hi") # 왼쪽 정렬

'Hi        '

In [35]:
"{0:>10}".format("Hi") # 오른쪽 정렬

'        Hi'

In [36]:
"{0:^10}".format("Hi") # 가운데 정렬

'    Hi    '

## 리스트

리스트 안에는 어떠한 자료형도 포함 가능

In [37]:
example_list = [] # 빈 리스트
example_list = [1, 2, 3] # 정수 리스트
example_list = ['Life', 'is', 'too', 'short'] # 문자열 리스트
example_list = [1, 2, 'Life', 'is'] # 숫자 + 문자열 리스트
example_list = [[1, 2], 'Life', ['is', 3]] # 숫자 리스트 + 문자열 + 숫자문자열 혼합 리스트

### 인덱싱

- 문자열과 같이 인덱싱 적용 가능
- 0부터 시작
- a[-1]은 a의 마지막 요솟값
- 리스트 내에 리스트가 있는 경우, 인덱싱을 두 번 가능

In [38]:
example_list[0]

[1, 2]

In [39]:
example_list[-1]

['is', 3]

In [40]:
example_list[-1][0]

'is'

### 슬라이싱

문자열과 같이 슬라이싱 적용 가능

In [41]:
example_list[:2] # 처음부터 example_list[1]까지

[[1, 2], 'Life']

In [42]:
example_list[1:] # example_list[1]부터 마지막까지

['Life', ['is', 3]]

### 연산

#### 더하기(+)

- `+` 기호는 2개의 리스트를 합치는 기능
- 문자열에서 "abc" + "def" = "abcdef"가 되는 것과 같은 의미

In [43]:
example_list1 = [1, 2, 3]
example_list2 = ['a', 'b', 'c']

example_list1 + example_list2

[1, 2, 3, 'a', 'b', 'c']

#### 반복하기(*)

- `*` 기호는 리스트의 반복을 의미
- 문자열에서 "abc" * 3 = "abcbabcabc"가 되는 것과 같은 의미

In [44]:
example_list3 = [1, 3, 5]

example_list3 * 4

[1, 3, 5, 1, 3, 5, 1, 3, 5, 1, 3, 5]

#### 길이 구하기

- `len()` 함수 사용
- 문자열, 리스트 외에도 튜플과 딕셔너리에서도 사용 가능

In [45]:
len(example_list)

3

#### 수정과 삭제

- 인덱스에 접근하여 값 수정 가능
- `del` 함수를 사용해 리스트 요소 삭제 가능

In [46]:
example_list = [1, 2, 3]
example_list[1] = 5

example_list

[1, 5, 3]

In [47]:
del example_list[1]

example_list

[1, 3]

In [48]:
example_list = [1, 2, 3, 4, 5]
del example_list[2:] # 2번재 인덱스부터 마지막까지 삭제

example_list

[1, 2]

### 리스트 관련 함수

#### 요소 추가(append)

- 리스트의 맨 마지막에 요소 추가
- 어떤 자료형도 추가 가능

In [49]:
example_list.append(3) # 리스트의 마지막에 3 추가

example_list

[1, 2, 3]

In [50]:
example_list.append([4, 5, 6]) # 리스트의 마지막에 [4, 5, 6] 추가

example_list

[1, 2, 3, [4, 5, 6]]

#### 정렬(sort)

- 리스트의 요소를 순서대로 정렬
- 문자의 경우 알파벳 순서로 정렬 가능

In [51]:
example_list = [2, 5, 3, 7, 1]
example_list.sort()

example_list

[1, 2, 3, 5, 7]

In [52]:
example_list = ['b', 'd', 'a', 'c']
example_list.sort()

example_list

['a', 'b', 'c', 'd']

#### 뒤집기(reverse)

- 리스트를 역순으로 뒤집어 줌
- 요소룰 역순으로 정렬하는 것이 아닌, 그대로 뒤집음

In [53]:
example_list = [2, 5, 1, 3, 4]
example_list.reverse()

example_list

[4, 3, 1, 5, 2]

#### 인덱스 반환(index)

- 요소를 검색하여 위치 값 반환
- 값이 존재하지 않으면, 값 오류 발생

In [54]:
example_list.index(3) # [4, 3, 1, 5, 2]에서 3의 위치

1

In [55]:
# 100이라는 요소가 [4, 3, 1, 5, 2]에 포함되지 않기 때문에 오류 발생
# example_list.index(100)

#### 요소 삽입(insert)

- insert(a, b): a번째 위치에 b를 삽입하는 함수

In [56]:
example_list.insert(0, 8) # 0번째 위치에 8 삽입

example_list

[8, 4, 3, 1, 5, 2]

#### 요소 제거(remove)

- remove(x): 리스트에서 첫 번째로 나오는 x를 삭제
- 여러 개인 경우 첫 번째 것만 삭제

In [57]:
example_list.remove(1)

example_list

[8, 4, 3, 5, 2]

#### 요소 끄집어 내기(pop)

- 리스트의 맨 마지막 요소를 돌려주고 해당 요소 삭제
- pop(x): 리스트의 x번째 요소를 돌려주고 해당 요소 삭제

In [58]:
example_list.pop()

2

In [59]:
example_list

[8, 4, 3, 5]

#### 포함된 요소 x의 개수 세기(count)

- 리스트에 포함된 요소의 개수 반환
- count(x): 리스트 안에 x가 몇 개 있는지 확인하고 개수를 돌려주는 함수

In [60]:
example_list = [1, 1, 2, 2, 2, 3, 3, 5]

example_list.count(2)

3

#### 확장(extend)

- 리스트에 리스트를 더하는 함수
- extend(x): x에는 리스트만 올 수 있음

In [61]:
example_list.extend([6, 8, 8, 9])

example_list

[1, 1, 2, 2, 2, 3, 3, 5, 6, 8, 8, 9]

In [62]:
example_list += [10, 11, 12]

example_list

[1, 1, 2, 2, 2, 3, 3, 5, 6, 8, 8, 9, 10, 11, 12]